In [3]:
import pandas as pd
combined_data=pd.read_csv('combined_data.csv')
combined_data.head()

,Unnamed: 0,CO_mean,HUMID_mean,NEPH_mean,NO2_mean,NO_mean,OZONE_mean,PM10_mean,PM2.5_mean,RAIN_sum,...,heavy_vehicle,light_vehicle,public_holiday,school_holiday,CO_category,Ozone_category,PM10_category,PM2.5_category,SO2_category,overall
0,2015-04-01,0.322688,83.950174,0.236609,1.152181,1.580984,1.168205,13.150174,5.989130,9.2,...,2096.0,32889.0,0.0,0.0,Good,Good,Good,Good,Good,NaN
1,2015-04-02,0.300514,76.750667,0.189708,1.414318,0.918404,1.303658,17.739417,7.767542,9.6,...,2197.0,33837.0,0.0,0.0,Good,Good,Good,Good,Good,NaN
2,2015-04-03,0.180318,85.559792,0.234250,0.480276,-0.025161,1.829555,16.224500,6.488458,9.6,...,278.0,10189.0,1.0,1.0,Good,Good,Good,Good,Good,NaN
3,2015-04-04,0.181838,90.547417,0.189917,0.495389,-0.047360,1.988869,10.040292,5.401292,9.6,...,306.0,11211.0,1.0,1.0,Good,Good,Good,Good,Good,NaN
4,2015-04-05,0.216565,80.907750,0.145167,0.619438,-0.003203,1.797587,10.207667,3.346542,9.6,...,691.0,20784.0,0.0,1.0,Good,Good,Good,Good,Good,NaN

In [4]:
combined_data['Unnamed: 0'] = pd.to_datetime(combined_data['Unnamed: 0'])
combined_data = combined_data.set_index('Unnamed: 0')

In [5]:
combined_data.head()

,CO_mean,HUMID_mean,NEPH_mean,NO2_mean,NO_mean,OZONE_mean,PM10_mean,PM2.5_mean,RAIN_sum,SD1_mean,...,heavy_vehicle,light_vehicle,public_holiday,school_holiday,CO_category,Ozone_category,PM10_category,PM2.5_category,SO2_category,overall
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2015-04-01,0.322688,83.950174,0.236609,1.152181,1.580984,1.168205,13.150174,5.989130,9.2,45.571000,...,2096.0,32889.0,0.0,0.0,Good,Good,Good,Good,Good,NaN
2015-04-02,0.300514,76.750667,0.189708,1.414318,0.918404,1.303658,17.739417,7.767542,9.6,37.699458,...,2197.0,33837.0,0.0,0.0,Good,Good,Good,Good,Good,NaN
2015-04-03,0.180318,85.559792,0.234250,0.480276,-0.025161,1.829555,16.224500,6.488458,9.6,31.234500,...,278.0,10189.0,1.0,1.0,Good,Good,Good,Good,Good,NaN
2015-04-04,0.181838,90.547417,0.189917,0.495389,-0.047360,1.988869,10.040292,5.401292,9.6,40.681625,...,306.0,11211.0,1.0,1.0,Good,Good,Good,Good,Good,NaN
2015-04-05,0.216565,80.907750,0.145167,0.619438,-0.003203,1.797587,10.207667,3.346542,9.6,66.519583,...,691.0,20784.0,0.0,1.0,Good,Good,Good,Good,Good,NaN

In [6]:
combined_data.to_csv('combined_data1.csv')